@import url("react-toastify/dist/ReactToastify.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply scrollbar-thin scrollbar-thumb-primaryGreen-700 scrollbar-track-grey-500;
}

body {
    font-family: "Inter", sans-serif;
    @apply overflow-x-hidden text-grey-900 selection:bg-primaryGreen-300 selection:text-white;
}
.nichrome {
    font-family: "MD Nichrome Test", sans-serif;
}
.calligraffitti {
    font-family: "Calligraffitti", cursive;
}
.active {
    @apply lg:text-primaryGreen-300 lg:font-bold lg:border-l-4 lg:border-primaryGreen-700 lg:rounded-full lg:py-2 lg:pr-0 lg:pl-4;
}

button:disabled,
input:disabled {
    @apply cursor-not-allowed opacity-50;
}

.arrow-animate {
    animation: arrowAnimate 1s infinite;
}

@keyframes arrowAnimate {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1rem);
    }
}
